In [4]:
import numpy as np
x = np.array([5,10, 1,11, 9, 8, 7])

In [5]:
#Method 1: Sum of all the elements of an array
x.sum()

51

In [7]:
#Method 2: Minimum value among the elements of an array
x.min()

1

In [8]:
#Method 3: Maximum value among the elements of an array
x.max()

11

In [9]:
#Method 4: Minimum index value among the indexes of elements of an array
x.argmin()

2

In [10]:
#Method 5: Minimum index value among the indexes of elements of an array
x.argmax()

3

In [11]:
#Mehthod 6: Logical "AND" operation among the elements of a boolean array
np.all([False, True, True, True])

False

In [12]:
#Mehthod 7: Logical "OR" operation among the elements of a boolean array
np.any([True, True, True, False])

True

In [13]:
#Method 8: Setting all the elements of an array to 0
a = np.zeros((100, 100))
np.any(a != 0)

False

In [14]:
np.all(a == a)

True

In [16]:
a = np.array([5, 2, 3, 2])
b = np.array([5, 2, 3, 2])
c = np.array([5, 4, 4, 5])
((a <= b) & (b <= c)).all()

True

In [17]:
#Method 9: Setting diagonally all elements as "1" in a square matrix
arr = np.eye(3)
arr

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [18]:
#...continues: We can also specify other than square matrix but it would look like as below
arr = np.eye(3,4)
arr

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.]])

In [19]:
#Method 10: diag: This function creates a two dimensional 
#array with all the diagonal elements as the given value
#and rest as 0 (in a square matrix).
arr = np.diag([1,5,3,7])
arr

array([[1, 0, 0, 0],
       [0, 5, 0, 0],
       [0, 0, 3, 0],
       [0, 0, 0, 7]])

In [20]:
#To get the diagonal elements in a two dimensional array we
#use diag as a funcion
np.diag(arr)

array([1, 5, 3, 7])

In [21]:
#Method 11: randint. This funciton is used to generate random
#number between a given range.
#The syntax is:
#randint(min,max,total_values)
arr = np.random.randint(1,10,3)
arr
#output would be any 3 number from 1 to 9

array([8, 7, 5])

In [22]:
#Method 12: rand: This function is used to generate random values
#between 0 to 1
#The syntax is: 
#rand(number_of_values)
arr = np.random.rand(5)
arr
#Output may be any 5 numbers from 0 to 1

array([0.92268196, 0.71306926, 0.95330691, 0.65967081, 0.34538067])

In [23]:
#...continues. We may generate random numbers in 2D array format as well
arr = np.random.rand(2, 3)
arr

array([[0.43860435, 0.25030482, 0.59193519],
       [0.13760826, 0.71447948, 0.4699769 ]])

In [24]:
#Method 13: randn: This function is used to generate random values to 0 (zero)
#This may return positive or negative numbers as well.
#The syntax is:
#randn(number_of_values)
arr = np.random.randn(5)
arr
#Output may be any 5 numbers from centered to 0 (zero)

array([ 0.11294224,  2.39569284,  0.71543138, -1.10482764,  0.09969354])

In [25]:
#Method 14: arange. There would be a starting point and an ending point along
#with the interval value.
arr = np.arange(2,15,2)
arr

array([ 2,  4,  6,  8, 10, 12, 14])

In [26]:
#...continues. If we do not specify the value it will automatically be incremented by 1
arr = np.arange(2, 14)
arr

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13])

In [27]:
#Method 15: sin. Print sine of one angle:
np.sin(np.pi/2.)

1.0

In [28]:
#...continues. Print sines of an array of angles given in degrees:
np.sin(np.array((0., 30., 45., 60., 90.)) * np.pi / 180. )

array([0.        , 0.5       , 0.70710678, 0.8660254 , 1.        ])

In [29]:
#Method 16: cos.
np.cos(np.array([0, np.pi/2, np.pi]))

array([ 1.000000e+00,  6.123234e-17, -1.000000e+00])

In [30]:
#Method 16: tan
from math import pi
np.tan(np.array([-pi,pi/2,pi]))

array([ 1.22464680e-16,  1.63312394e+16, -1.22464680e-16])

In [31]:
#Method 17: round.
np.round(16.055, 2), round(16.055, 2)  # equals 16.0549999999999997

(16.06, 16.05)

In [32]:
#Method 18: floor. Return the floor of the input, element-wise.
#The floor of the scalar x is the largest integer i, such that i <= x.
a = np.array([-1.2, -1.5, -0.6, 0.9, 1.5, 2.7, 3.0])
np.floor(a)

array([-2., -2., -1.,  0.,  1.,  2.,  3.])

In [33]:
#Method 19: ceil. Return the ceiling of the input, element-wise.
#The ceil of the scalar x is the smallest integer i, such that i >= x.
a = np.array([-1.7, -1.5, -0.2, 0.2, 1.5, 1.7, 2.0])
np.ceil(a)

array([-1., -1., -0.,  1.,  2.,  2.,  2.])

In [34]:
#Method 20:
#Return the truncated value of the input, element-wise.
#The truncated value of the scalar x is the nearest integer i which is closer to zero than x is. 
#In short, the fractional part of the signed number x is discarded.
a = np.array([-1.7, -1.5, -0.2, 0.2, 1.5, 1.7, 2.0])
np.trunc(a)

array([-1., -1., -0.,  0.,  1.,  1.,  2.])

In [36]:
#Method 21: Prod.
#Return the product of array elements over a given axis.
#The product of an empty array is the neutral element 1:
np.prod([])

1.0

In [37]:
#...continues. when the input array is two-dimensional:
np.prod([[4.,2.],[3.,5.]])

120.0

In [38]:
#Method 22: cumsum. Return the cumulative sum of the elements along a given axis.
a = np.array([[1,2,3], [4,5,6]])
a

array([[1, 2, 3],
       [4, 5, 6]])

In [39]:
np.cumsum(a,axis=0)  # sum over rows for each of the 3 columns

array([[1, 2, 3],
       [5, 7, 9]])

In [40]:
#Method 23: lcm. Returns the lowest common multiple of |x1| and |x2|
np.lcm(12, 20)

60

In [42]:
#Method 24: gcd. Returns the greatest common divisor of |x1| and |x2|
np.gcd(8, 24)

8

In [46]:
#Method 25: transpose. Reverse or permute the axes of an array; returns the modified array
x = np.arange(4).reshape((2, 2))
x

array([[0, 1],
       [2, 3]])

In [47]:
#...continues
np.transpose(x)

array([[0, 2],
       [1, 3]])

In [48]:
#Method 26: capitalize. Return a copy of a with only the first character of each element capitalized.
c = np.array(['a1b2','1b2a','b2a1','2a1b'],'S4'); c

array([b'a1b2', b'1b2a', b'b2a1', b'2a1b'], dtype='|S4')

In [49]:
#...continues
np.char.capitalize(c)

array([b'A1b2', b'1b2a', b'B2a1', b'2a1b'], dtype='|S4')

In [50]:
#Method 27. lower. Return an array with the elements converted to lowercase.
c = np.array(['A1B C', '1BCA', 'BCA1']) 
c

array(['A1B C', '1BCA', 'BCA1'], dtype='<U5')

In [51]:
#...continues
np.char.lower(c)

array(['a1b c', '1bca', 'bca1'], dtype='<U5')

In [52]:
#Method 28. upper. Return an array with the elements converted to upper.
c = np.array(['a1b c', '1bca', 'bca1'])
c

array(['a1b c', '1bca', 'bca1'], dtype='<U5')

In [53]:
#...continues
np.char.upper(c)

array(['A1B C', '1BCA', 'BCA1'], dtype='<U5')

In [ ]:
#Method 29. count. Returns an array with the number of non-overlapping occurrences of substring sub in the range [start, end].
#Calls str.count element-wise.
c = np.array(['aAaAaA', '  aA  ', 'abBABba'])
c

array(['aAaAaA', '  aA  ', 'abBABba'], dtype='<U7')

In [54]:
#...continues
np.char.count(c, 'aA')

array([0, 0, 0])

In [55]:
#Method 30. linspace. This function returns values 
#between a given range and with a same gap between
#consecutive elements.
np.linspace(1,2,5)

array([1.  , 1.25, 1.5 , 1.75, 2.  ])

In [56]:
#Method 31,32,33,34
matrix = np.random.randint(1,4,9).reshape(3,3)
matrix

array([[1, 3, 2],
       [3, 3, 1],
       [2, 1, 2]])

In [57]:
np.min(matrix, axis=1) #finds row wise min

array([1, 1, 1])

In [59]:
np.max(matrix, axis=0) #finds col wise max

array([3, 3, 2])

In [60]:
np.sum(matrix, axis=1) #finds row wise sum

array([6, 7, 5])

In [61]:
np.cumsum(matrix) #finds cumulative sum

array([ 1,  4,  6,  9, 12, 13, 15, 16, 18])

In [62]:
#Method 35. shuffle. shuffle the array elements.
np.random.seed(122)
arr = np.random.randint(1,21,10)
arr

array([16, 11, 13, 17, 13, 16,  3, 16, 11, 10])

In [63]:
#...continues
np.random.shuffle(arr)
arr

array([13, 16, 16, 11, 16, 10, 11, 13, 17,  3])

In [64]:
#Method 36. unique. displays unique number of the array.
np.unique(arr)

array([ 3, 10, 11, 13, 16, 17])

In [65]:
#Method 37. argsort. prints the sorted index value wise ascending
one = np.array([1,3,4,2])
one.argsort()

array([0, 3, 1, 2])

In [66]:
#Method 38. where.
x = [[1,2,3],[4,5,6],[7,1,0]]
arr = np.array(x)
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 1, 0]])

In [67]:
#...continues
np.where(arr > 5)

(array([1, 2]), array([2, 0]))

In [68]:
#Method 39. count_nonzero
np.count_nonzero(arr)

8

In [69]:
#Method 40. sort. It is used to sort an array
a = np.array([[1,4], [3,1]])
a

array([[1, 4],
       [3, 1]])

In [70]:
#...continues
a.sort(axis=1)
a

array([[1, 4],
       [1, 3]])

In [71]:
#...continues
a.sort(axis=0)
a

array([[1, 3],
       [1, 4]])

In [72]:
#Method 41. variance. var.
a = np.array([[1, 2], [3, 4]])
np.var(a)

1.25

In [ ]:
#Method 42. Split. Split an array into 
#multiple sub-arrays as views into ary.
x = np.arange(9.0)
np.split(x, 3)

[array([0., 1., 2.]), array([3., 4., 5.]), array([6., 7., 8.])]

In [73]:
#...continues
x = np.arange(8.0)
np.split(x, [3,5,6,10])

[array([0., 1., 2.]),
 array([3., 4.]),
 array([5.]),
 array([6., 7.]),
 array([], dtype=float64)]

In [74]:
#Method 43. delete. Return a new array with sub-arrays along an axis deleted. For a one dimensional array, this returns those
#entries not returned by arr[obj].
arr = np.array([[1,2,3,4], [5,6,7,8],[9,10,11,12]])
arr

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [75]:
#...continues
np.delete(arr, 1, 0)

array([[ 1,  2,  3,  4],
       [ 9, 10, 11, 12]])

In [76]:
#Method 44. insert. insert values along the 
#given axis before the given indices.
a = np.array([[1,1],[2,2],[3,3]])
a

array([[1, 1],
       [2, 2],
       [3, 3]])

In [77]:
#...continues
np.insert(a, 1, 5)

array([1, 5, 1, 2, 2, 3, 3])

In [78]:
#Method 45. fliplr. Flip array in the left/right direction.
#Requires the array to at least 2-D.
A = np.diag([1.,2.,3.])
A

array([[1., 0., 0.],
       [0., 2., 0.],
       [0., 0., 3.]])

In [80]:
#...continues
np.fliplr(A)

array([[0., 0., 1.],
       [0., 2., 0.],
       [3., 0., 0.]])

In [81]:
#Method 46. flipud. Flip array in the up/down direction.
#Does not require the array to be two-dimensional.
A = np.diag([1.0, 2, 3])
A

array([[1., 0., 0.],
       [0., 2., 0.],
       [0., 0., 3.]])

In [82]:
#...continues
np.flipud(A)

array([[0., 0., 3.],
       [0., 2., 0.],
       [1., 0., 0.]])

In [83]:
#Method 47. inner. Inner product of two arrays.
a = np.array([1,2,3])
b = np.array([0,1,0])
np.inner(a, b)

2

In [84]:
#Method 48. Return the sum along diagonals of the array.
np.trace(np.eye(3))

3.0

In [85]:
#Method 49. reciprocal. Return the reciprocal of the argument, element-wise.
#This function is not designed to work with integers.
np.reciprocal(2.)

0.5

In [86]:
#Method 50. conjucate. Return the complex conjugate, element-wise.
x = np.eye(2) + 1j * np.eye(2)
np.conjugate(x)

array([[1.-1.j, 0.-0.j],
       [0.-0.j, 1.-1.j]])